{% extends 'web/base.html' %}
{% block body %}

    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/15726228_1193039064125745_7947922113294999904_n.jpg?_nc_cat=106&_nc_ht=scontent.fagr1-1.fna&oh=43b485861cd3f418e709942779fcfaae&oe=5D74E203">
        <div class="card-bodya">
            <h5 class="card-title">Ritesh Prasad</h5>
            <p class="card-text">President</p>
            <a class="fa fa-facebook" href="https://www.facebook.com/0b0000011111011011?__tn__=K-R&eid=ARBjPEXRboGLHlKR4y_J1XOZpqABqubLkYFvJ-pdLwZJCFUYUS5MZi6pof_VIhNcXGGyrTcML6MMzL8y&fref=mentions"></a>
                        <iframe src="https://ghbtns.com/github-btn.html?user=ritesh-nitjsr&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>

        </div>
    </div>

    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/27544618_2218806475012664_52713884663867185_n.jpg?_nc_cat=110&_nc_ht=scontent.fagr1-1.fna&oh=fcc4b12adb43b850985bf91b317e13fc&oe=5D399994">
        <div class="card-bodya">
            <h5 class="card-title">Sarwar Khan</h5>
            <p class="card-text">General Secretary</p>
            <a class="fa fa-facebook" href="https://www.facebook.com/profile.php?id=100006499997040&__tn__=K-R&eid=ARCL0XCxBWAJjezArt1orb1bU6jCKriw5DJ8X3YASwA6ptpZsPzFtXJUI0U96wjy_kReXCxAcGBkpkjN&fref=mentions"></a>
        </div>
    </div>

    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/23622346_1531085026977606_4388936176148533259_n.jpg?_nc_cat=104&_nc_ht=scontent.fagr1-1.fna&oh=f959f9f1d5672ac7bd121a992fa2a5fe&oe=5D754D4F">
        <div class="card-bodya">
            <h5 class="card-title">Neelesh Sinha</h5>
            <p class="card-text">Technical Secretary</p>
            <a class="fa fa-facebook" href="https://www.facebook.com/neelesh.sinha?__tn__=K-R&eid=ARCQQdc-lwOjdHIwCxNRXLhLdhoB9zPpagR546gYf78pxvYiLyLYSzFNSVmsYhFjyaoJAqDb9gPxiyn0&fref=mentions"></a>
        </div>
    </div>

    <div class="card mx-auto" style="width: 25rem;">
        <img class="card-img-top" src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/56520120_2156565631099731_8367772267538546688_n.jpg?_nc_cat=100&_nc_ht=scontent.fagr1-1.fna&oh=da08af8a6cfa80d98284c9a9f9bf1f74&oe=5D42DD4F">
        <div class="card-bodya">
            <h5 class="card-title">Rishav Ramesh</h5>
            <p class="card-text">Treasurer</p>
            <a class="fa fa-facebook" href="https://www.facebook.com/rishav.kumar11?__tn__=K-R&eid=ARC-rKtP3YYd24tMTucjVGACWnNWu8A6x3_kKB6Kd5Y26SfJYWoeystdb2oFJxcJ5kOiurSaQRh_3IaY&fref=mentions"></a>
        </div>
    </div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}